{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>UI MAPS | Cari Rute</title>
	<i class="mdi mdi-clock-end:"></i>

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/LineIcons.css' %}">


    <!--====== Default css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

    <!--====== Style css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!--====== Vis css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/vis.css' %}">

    <!--====== Vis js ======-->
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!--====== Making network js ======-->
    <script src="{% static 'js/network.js' %}"></script>


  </head>
  <body>
  	<div class="heading">
	  	<h3 class="text-center">UI MAPS</h3>
  	</div>

  	<div class="container">
  		<div class="row d-flex flex-wrap">
		  	<div class="col-md-6 p-3 mt-5">
				<h4 class="header-title">
					Cari rute
				</h4>
				<p>
					Silahkan isi tempat asal dan tempat tujuan yang kamu inginkan.
				</p>

				<form id="cariRuteForm" role="form">
					<div class="form-label-group">
						<label for="inputAsal">Asal Tempat</label>
                      	<select class="form-control" id="inputAsal" required>
							<option selected disabled>Pilih tempat asal</option>
                      		{% for node in nodes %}
			                    <option value="{{node}}">{{ node }}</option>
                      		{% endfor %}
                      </select>
                    </div>
                    <br>	
                    <div class="form-label-group">
						<label for="inputTujuan">Tempat Tujuan</label>
                      	<select class="form-control" id="inputTujuan" required>
							<option selected disabled>Pilih tempat tujuan</option>
                      		{% for node in nodes %}
			                    <option value="{{node}}">{{ node }}</option>
                      		{% endfor %}
                      </select>
                    </div>
                    <br>
					<!-- <div class="form-label-group">
						<label for="inputAkses">Jenis akses</label>
                      	<select class="form-control" id="inputAkses" required>
	                        <option selected value="jalan-kaki">Berjalan kaki</option>
	                        <option value="naik-motor">Berkendara dengan motor</option>
                      </select>
                    </div> -->
					<button id="cariRute" type="submit" class="btn btn-primary btn-block">
						Cari rute terdekat
					</button>
				</form> 
				<br><br>
				<h5>Jarak yang ditempuh :</h5>
				<h4 id="jarakRute"></h4>
				<br>
				<h5>
					Rute yang akan ditempuh:
				</h5>
				<ul id="listRute">
							
				</ul>
		  	</div>

		  	<div class="col-md-6 p-3">
		  		<div class="card">
		  			<div class="card-body">
		  				<div id="mynetwork" style="height: 500px;"></div>
						
		  			</div>
		  		</div>
		  	</div>
	  	</div>

	</div>


    <!--====== jquery js ======-->
    <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

     <!--====== Images Loaded js ======-->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    
    <!--====== Appear js ======-->
    <script src="{% static 'js/jquery.appear.min.js' %}"></script>

    <!--====== Main js ======-->
    <script src="{% static 'js/main.js' %}"></script>


  </body>
</html>

<!-- <script type="text/javascript" src="{% static 'js/data-api.js' %}"></script> -->