{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <meta name="description" content="">

     <meta name="author" content="Ayro UI">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Ayro UI | Headers</title>

    <!--====== Favicon Icon ======-->

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/LineIcons.css' %}">


    <!--====== Default css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

    <!--====== Style css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


</head>

<body>

    <!--====== PAGE BANNER PART START ======-->

    <section class="page-banner mb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="page-banner-content text-center">
                        <h1 class="sub-title">Ayro UI - Startup and SaaS Business UI Kit</h1>
                        <h3 class="page-title">HEADER STYLES</h3>
                    </div> <!-- page-banner-content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== HEADER ONE PART START ======-->

    <section class="header-area header-one mb-100">

        <div class="navbar-area navbar-one navbar-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img src="{% static 'images/logo-4.svg' %}" alt="Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOne" aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarOne">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item">
                                        <a class="active" href="#">ABOUT</a>

                                        <ul class="sub-menu">
                                            <li><a href="#">MENU ITEM 1</a></li>
                                            <li><a href="#">MENU ITEM 2 <i class="lni-chevron-right"></i></a>
                                                <ul class="sub-menu">
                                                    <li><a href="#">SUB MENU 1 <i class="lni-chevron-right"></i></a></li>
                                                    <li><a href="#">SUB MENU 2</a></li>
                                                    <li><a href="#">SUB MENU 3</a></li>
                                                    <li><a href="#">SUB MENU 4</a></li>
                                                    <li><a href="#">SUB MENU 5</a></li>
                                                    <li><a href="#">SUB MENU 6</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">MENU ITEM 3</a></li>
                                            <li><a href="#">MENU ITEM 4</a></li>
                                            <li><a href="#">MENU ITEM 5</a></li>
                                            <li><a href="#">MENU ITEM 6</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">SERVICES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">RESOURCES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">CONTACT</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="navbar-btn d-none d-sm-inline-block">
                                <ul>
                                    <li><a class="light" href="#">Sign In</a></li>
                                    <li><a class="solid" href="#">Sign Up</a></li>
                                </ul>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>

        <div class="header-content-area d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-wrapper">
                            <div class="header-content">
                                <h3 class="header-title">Unlimited Friendly & Easy Customisable</h3>
                                <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                                <div class="header-btn rounded-buttons">
                                    <a class="main-btn rounded-one" href="#">DOWNLOAD NOW</a>
                                </div>
                                
                            </div> <!-- header content -->

                            <div class="header-image d-none d-lg-block">
                                <div class="image">
                                    <img src="{% static 'images/header/header-1.png' %}" alt="Header">
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-shape">
                <img src="{% static 'images/header/header-shape-2.svg' %}" alt="shape">
            </div> <!-- header-shape -->
        </div> <!-- header content area -->
    </section>

    <!--====== HEADER ONE PART ENDS ======-->

 

    <!--====== HEADER SIX PART START ======-->

    <section class="header-area header-six mb-100">
        <div class="header-content-area">
            <div class="header-image">
                <img src="{% static 'images/header/header-6.png' %}" alt="header">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="header-content">
                            <h3 class="header-title">We’re storytellers, thinkers, solvers</h3>
                            <ul class="header-btn rounded-buttons">
                                <li><a class="main-btn rounded-three" href="#">GET IN TOUCH</a></li>
                                <li><a class="main-btn btn-two video-popup" href="https://youtu.be/T5ZuOXm7voY">WATCH THE VIDEO <i class="lni-play"></i></a></li>
                            </ul>
                        </div> <!-- header content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header content area -->
    </section>

    <!--====== HEADER SIX PART ENDS ======-->

    <!--====== HEADER SAVEN PART START ======-->

    <section class="header-area header-saven mb-100">
        <div class="header-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-content">
                            <div class="header-image image-one d-none d-md-block">
                                <img src="{% static 'images/header/h-image-1.png' %}" alt="Header">
                            </div>
                            <div class="header-image image-two">
                                <img src="{% static 'images/header/h-image-2.png' %}" alt="Header">
                            </div>
                            <div class="header-image image-three d-none d-md-block">
                                <img src="{% static 'images/header/h-image-3.png' %}" alt="Header">
                            </div>
                            <div class="header-content-wrapper text-center">
                                <h3 class="header-title">Get in touch</h3>
                                <p class="text">The proof of the pudding is in the eating. Instead of telling, we prefer showing</p>
                                
                                <div class="header-btn rounded-buttons">
                                    <a class="main-btn rounded-three" href="#">CONTACT US</a>
                                </div>
                            </div>
                        </div> <!-- header content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header content area -->
    </section>



    <p class="text-center pb-60"><a href="https://ayroui.com/" target="_blank" rel="nofollow">Upgrade to Ayro UI PRO</a> to get all pages, features and elements.</p>

    <!--====== jquery js ======-->
    <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

     <!--====== Images Loaded js ======-->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    
    <!--====== Appear js ======-->
    <script src="{% static 'js/jquery.appear.min.js' %}"></script>

 

    <!--====== Main js ======-->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
