{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>UI Maps</title>

    <!--====== Favicon Icon ======-->

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/LineIcons.css' %}">


    <!--====== Default css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

    <!--====== Style css ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


</head>

<body>

    <!--====== HEADER ONE PART START ======-->

    <section class="header-area header-one">

        <div class="header-content-area d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-wrapper">
                            <div class="header-content">
                                <h3 class="header-title">UI MAPS</h3>
                                <h4 class="text">
                                Platform yang akan membantu kamu untuk menemukan rute terdekat dari suatu lokasi menuju lokasi lain yang berada di Universitas Indonesia.
                            	</h4>
                                <div class="header-btn rounded-buttons">
                                    <a href="/cari-rute" class="main-btn rounded-one">Mulai cari rute</a>
                                </div>
                                
                            </div> <!-- header content -->

                            <div class="header-image d-none d-lg-block">
                                <div class="image">
                                    <img src="{% static 'images/img-landing.png' %}" alt="Header">
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-shape">
                <img src="{% static 'images/header/header-shape-2.svg' %}" alt="shape">
            </div> <!-- header-shape -->
        </div> <!-- header content area -->
    </section>

    <!--====== jquery js ======-->
    <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

     <!--====== Images Loaded js ======-->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    
    <!--====== Appear js ======-->
    <script src="{% static 'js/jquery.appear.min.js' %}"></script>

 

    <!--====== Main js ======-->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
